<div class="errs">
    <% if (locals.errors) {%>
        <ul class="err__list col">
            <% errors.forEach((err)=>{ %>
                <li class="err__item">
                    <%= err.msg %>
                </li>
                <% }); %>
        </ul>
        <% }; %>
</div>