<header class="header row">
    <div class="wrapper">
        <div class="header-inner row btw f-center gap-sm border padding-inline-500">
            <span class="logo">Priv. Club</span>
            <button class="mobile-nav-tooggle" aria-controls="primary-navigation">
                <span>Menu</span>
            </button>
            <%- include("./nav.ejs") %>
        </div>
    </div>
</header>