<header class="primary-header row">
    <div class="wrapper">
        <div class="header-inner row btw f-center gap-sm border padding-inline-500">
            <span class="logo">Priv. Club</span>
            <button class="mobile-nav-toggle" aria-controls="primary-navigation">
                <span class="visually-hidden">Menu</span>
               <img src="/images/icons/material-symbols--menu-rounded.svg" alt="Menu">
            </button>
            <%- include("./nav.ejs") %>
        </div>
    </div>
    
</header>