    <ul class="posts__list">
        <% locals?.posts.map(post=>{ %>
            <li class="post__item">
                <h2 class="title">
                    <%=post.title%>
                </h2>
                <div class="">
                    <p class="message">
                        <%=post.message%>
                    </p>
                </div>
                <div class="row gap-sm">
                    <p class="author">Author: <%=post?.username || 'unknown' %>
                    </p>
                    <p class="post__date">Posted: <%=post?.created_at || 'unknown' %>
                    </p>
                </div>
            </li>
            <%})%>
    </ul>
   
