<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <section class="wrapper">
            <%- include("./partials/nav.ejs") %>
            
                <h1>We are logged in as <%= locals?.currentUser?.username %>
                </h1>
                <p>Let's <a href="/logout">logout</a></p>
        </section>
    </body>

</html>