<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <section class="wrapper">
            <%- include("./partials/nav.ejs") %>

                <article class="profile">
                    <p>
                        <%=locals?.profile.name|| undefined %>
                    </p>
                </article>
                <section class="user__posts">

                </section>
                 </section>
    </body>

</html>