@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800&display=swap');

:root {
    /* spacing */
    --space-1: 0.5rem;
    --space-2: 1rem;
    --space-3: 2rem;
    --space-4: 4rem;

    /* fs */
    --fs: 1rem;
    --fs-m: 1.25em;
    --fs-l: 2rem;
    --fs-xl: 2rem;
    --fs-xxl: 4rem;

    /* clrs */

    --olive-leaf: hsla(74, 32%, 32%, 1);

    --sunlit-clay: hsla(32, 65%, 62%, 1);
    --copperwood: hsla(28, 67%, 44%, 1);
    --lightgrey: #f9f9f9;

    --bg-clr: var(--olive-leaf);
    --card-clr: var(--cornsilk);
    --accent-clr: var(--sunlit-clay);
    --shadow-clr: hsl(0deg 0% 0% / 0.075);

    --grey-100: hsla(210, 17%, 98%, 1);
    --grey-200: hsla(210, 16%, 93%, 1);
    --grey-300: hsla(210, 14%, 89%, 1);
    --grey-400: hsla(210, 14%, 83%, 1);
    --grey-500: hsla(210, 11%, 71%, 1);
    --grey-600: hsla(208, 7%, 46%, 1);
    --grey-700: hsla(210, 9%, 31%, 1);
    --grey-800: hsla(210, 10%, 23%, 1);
    --grey-900: hsla(210, 11%, 15%, 1);

    --outline-shadow: 0px 0px 4px var(--shadow-clr);
    --pattern: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23867b97' fill-opacity='0.12'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    --br: .25em;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    /* height: 100% */
}

body {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-3);
    position: relative;
    align-content: start;
    font-size: var(--fs);
    background-color: var(--grey-100);
    color: var(--grey-700);
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Spectral', serif;
    min-width: 400px;


}

body::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: var(--pattern),
        linear-gradient(hsl(0deg 0% 0% / 0.2));
    z-index: -1;


}

.wrapper {
    --max-width: 1275px;
    --padding: 1rem;
    width: 100%;
    max-width: min(var(--max-width), 100% - var(--padding) * 2);
    margin-inline: auto;
    /* padding-block: 1rem; */
}


footer {
    min-height: 100px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

svg {
    display: block;
    width: 100%;
    max-height: 100%;
}

dialog {
    margin: auto;
    padding: var(--space-1) var(--space-2);
}

.row {
    display: flex;
}

.col {
    display: grid;
    align-content: start;

}

.f-col {
    display: flex;
    flex-direction: column;
}

.btw {
    justify-content: space-between;
}


.g-center {
    justify-content: center;
}

.f-center {
    align-items: center;
    height: 100%;
}

.gap-sm {
    gap: .5rem;
}

.gap {
    gap: 1rem;
}

.gap-x {
    gap: 1.5rem;
}

.border {
    border: 1px solid;
}

.height-100 {
    height: 100%;
}

.link {
    display: inline-block;
}

.strip {
    padding: 0;
    border: none;
    background-color: transparent;
}

.link:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 4px;
    /* background-color: var(--accent-clr); */
}


.tp-1 {
    font-size: var(--fs-xl);
    font-weight: 800;
}

.tp-2 {
    font-size: var(--fs-m);
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1;
}

.tp-3 {
    font-size: var(--fs);
    font-weight: 400;
    font-family: "Spectral", serif;

}

.tp-4 {
    font-style: italic;
    opacity: .8;
}

/* padding */
/* 100 → very small 300 → small 500 → base / default 700 → large 900 → very large */
.padding-block-500 {
    padding-block: var(--space-2);
}

.padding-block-700 {
    padding-block: var(--space-3);
}

.padding-inline-500 {
    padding-inline: var(--space-2);
}

.padding-inline-700 {
    padding-inline: var(--space-3);
}

input,
button,
textarea,
a {
    cursor: pointer;
}

main {
    display: flex;
    gap: var(--space-3);
    flex: 1;
    min-height: 100dvh;
}

header {
    min-height: min(70px, 10vh);
}

.header-inner {
    border-radius: 8px;
}

.logo {}

/* nav */

.nav__items {
    align-items: center;
}

.nav__item {
    font-size: var(--fs-m);

}

.nav-p {
    padding: var(--space-1) var(--space-2);
    background-color: var(--olive-leaf);
    color: var(--grey-300);
    border-radius: 50px;
}

.nav__item:hover {
    color: var(--copperwood);
    /* text-decoration: underline;
    text-underline-offset: 8px; */
}

/* content */

.content {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-inline: var(--space-2);

}



/* add post */
.add-post {
    text-align: right;
    padding-block-end: 1em;


}

.add-post__link {
    display: inline-flex;

}

/* posts */
.posts {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}


.posts__list {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
    align-content: start;
    gap: var(--space-2);
    /* max-width: calc(100% - 400px); */

}



.author {
    gap: .25em;
}

.post__item {
    background-color: var(--grey-200);
    color: var(--grey-900);
    padding: var(--space-2);
    box-shadow: 0px 0px 4px var(--shadow-clr);
    min-height: 350px;
    border-radius: 12px;
    font-family: "Spectral", serif;
    min-width: 0;



}

.post__msg {
    background-color: var(--grey-300);
    border-radius: 8px;
    flex: 1;
    padding: var(--space-1) var(--space-2);
    box-shadow: inset 0px 0px 10px var(--shadow-clr);

}

.post__info {
    margin-top: auto;
    /* font-style: italic;
     */
}

.mobile-nav-toggle {
    padding: 0;
    background-color: transparent;
    border: 0;
    display: none;
}

@media (max-width:50em) {
    .primary-navigation {
        display: none;
        position: absolute;
        background-color: var(--bg-clr);
        text-align: center;
        inset: 70px var(--space-2) auto;
        padding-block: var(--space-2);
    }

    .primary-navigation[data-visible] {
        display: block;
    }

    .nav__items {
        flex-direction: column;
    }

    .mobile-nav-toggle {
        display: block;
        padding: var(--space-2);
    }
}

/* profile */

.user-profile {
    width: 375px;
    min-width: 350px;
    max-height: 500px;
    text-transform: uppercase;
    background-color: var(--grey-100);
    box-shadow: 0px 0px 8px var(--shadow-clr);
    border-radius: calc(var(--br) * 2);

}

.user__posts {
    flex: 1;
    gap: 1rem;
}

.fullname {
    /* font-size: var(--fs-l); */
    font-weight: 800;
}

.username {
    /* font-style: italic; */
    text-transform: lowercase;
}

.avatar {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: var(--accent-clr);
    margin-inline: auto;
}

.user__info {
    text-align: center;
}

.detail {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 1rem;
}

.descr {
    flex: 1;
    width: 100%;
}

.value {
    width: ;
}

.user-status {
    font-weight: 600;
    gap: .15rem;
    color: var(--bg-clr);
    opacity: .7;
}



/* forms */

.form-content {
    display: flex;
    align-items: center;
    height: calc(100% - calc(9rem + 75px));
}

.form-wrapper {
    margin-inline: auto;

    width: 100%;
    max-width: 600px;
    padding: var(--space-3) 1.5rem;
    box-shadow: var(--outline-shadow);
    background: var(--bg-clr);
    color: var(--grey-100);
    border-radius: calc(var(--br) * 3);
    /* padding: 3rem 2rem;
    /* max-height: 500px; */
    /* text-align: center; */
}

.form-wrapper--login {
    max-width: 500px;
    /* background-color: #ffffff; */
}


.form-groups {
    gap: 1.25em;
    /* margin-block-end: 2em; */
}

.form-group {
    display: grid;
    gap: .25rem;
}

.two-col {
    flex-wrap: wrap;
}

.two-col>* {
    flex: 1;
}

.form__title {
    line-height: 1.6;
    /* margin-block-end: .75em; */
}

/* button */
.button {
    font: inherit;
    padding: 1em .5em;
    width: max(60%, 150px);
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: var(--accent-clr);
    text-transform: uppercase;
    box-shadow: 2px 4px 15px hsl(0deg 0% 0% / 0.075);
    /* box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.1); */
    transition: transform 300ms ease-in-out;

}

.button:hover {
    transform: translateY(-1px);
}

form .button {

    margin-inline: auto;
}

/* pagination */
.pagination {
    padding: var(--space-1);
    text-align: center;
    font-size: 1.5em;
    color: blue;
    box-shadow: var(--outline-shadow);

}

.pag-item:hover {
    color: initial;
}

/* err */

.err__list {
    list-style: disc;
    color: hsla(0, 100%, 50%, .8);
    padding-inline: var(--space-2);
    gap: .25em;
}



/* hidden */
.visually-hidden {
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.opened {
    display: block;
    position: fixed;
}

/* experimental input design */

.form-group label {
    opacity: .5;

}

input,
textarea {
    font-size: inherit;
    padding: .5em;


}

.message {
    overflow-wrap: break-word;
    letter-spacing: .5px;
    line-height: 1;
}


.join {
    font-weight: 600;
}

.join:hover {
    color: var(--copperwood);
}

@media (max-width:810px) {
    .content--profile {
        flex-direction: column;
        gap: 2rem;
    }

    .user-profile {
        margin-inline: auto;
        width: min(100%, 400px);
    }

}