:root {
    /* spacing */
    --space-1: 0.5rem;
    --space-2: 1rem;
    --space-3: 2rem;
    --space-4: 4rem;

    /* fs */
    --fs: 1rem;
    --fs-l: 2rem;
    --fs-xl: 2rem;
    --fs-xxl: 4rem;

    /* clrs */

    --olive-leaf: hsla(74, 32%, 32%, 1);
    --black-forest: hsla(88, 38%, 15%, 1);
    --cornsilk: hsla(52, 94%, 94%, 1);
    --sunlit-clay: hsla(32, 65%, 62%, 1);
    --copperwood: hsla(28, 67%, 44%, 1);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%
}

body {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-3);
    align-content: start;
    font-size: var(--fs);
    color: var(--olive-leaf);
}

.wrapper {
    --max-width: 1250px;
    --padding: 1rem;

    width: 100%;
    max-width: min(var(--max-width), 100% - var(--padding) * 2);
    margin-inline: auto;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

dialog {
    margin: auto;
    padding: var(--space-1) var(--space-2);
}

.row {
    display: flex;
}

.col {
    display: grid;
    align-content: start;

}

.f-col {
    display: flex;
    flex-direction: column;
}

.btw {
    justify-content: space-between;
}


.g-center {
    justify-content: center;
}

.f-center {
    align-items: center;
    height: 100%;
}

.gap-sm {
    gap: .5rem;
}

.gap {
    gap: 1rem;
}

.gap-x {
    gap: 1.5rem;
}

.border {
    border: 1px solid;
}

.height-100 {
    height: 100%;
}

.link {
    display: inline-block;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 2px;
    margin-bottom: 2em;

}

/* padding */
/* 100 → very small 300 → small 500 → base / default 700 → large 900 → very large */
.padding-block-500 {
    padding-block: var(--space-2);
}

.padding-block-500 {
    padding-block: var(--space-2);
}

.padding-inline-500 {
    padding-inline: var(--space-2);
}

.padding-inline-700 {
    padding-inline: var(--space-3);
}

input,
button,
a {
    cursor: pointer;
}

main {
    display: flex;
    gap: var(--space-3);
    flex: 1;
    min-height: 100dvh;
}

header {
    min-height: min(70px, 10vh);
}

.header-inner {
    border-radius: 8px;
}

/* nav */

.nav__item {
    color: black;
}

.nav__item:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}

/* content */

.content {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-inline: var(--space-2);

}



/* add post */
.add-post {
    text-align: right;


}

.add-post__link {
    display: inline-flex;

}

/* posts */
.posts {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

.posts__list {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: var(--space-2);

}

.author {
    gap: .25em;
}

.post__item {
    
    border: 1px solid;
    padding: var(--space-2);

}

.post__msg {
    flex: 1;
    padding: var(--space-1);
}

.post__info {
    margin-top: auto;
    font-style: italic;
}

.mobile-nav-toggle {
    padding: 0;
    background-color: transparent;
    border: 0;
    display: none;
}

@media (max-width:50em) {
    .primary-navigation {
        display: none;
        position: absolute;
        background-color: red;
        text-align: center;
        inset: 70px var(--space-2) auto;
        padding-block: var(--space-2);
    }

    .primary-navigation[data-visible] {
        display: block;
    }

    .nav__items {
        flex-direction: column;
    }

    .mobile-nav-toggle {
        display: block;
        padding: var(--space-2);
    }
}

/* profile */

.user-profile {
    width: 300px;
    max-height: 500px;
}

.user__posts {
    flex: 1;
}

.avatar {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: grey;
}

.user__info {
    text-align: center;
}


/* forms */

.form-content {
    display: flex;
    align-items: center;
    height: calc(100% - calc(9rem + 75px));
}

.form-wrapper {
    margin-inline: auto;
    /* height: 100%; */
    width: 100%;
    max-width: 600px;
    padding: var(--space-3) 1.5rem;
    /* max-height: 500px; */
    /* text-align: center; */
}

.form-wrapper--login {
    max-width: 500px;
}


.form-groups {
    gap: 1.25em;
    /* margin-block-end: 2em; */
}

.form-group {
    display: grid;
    gap: .25rem;
}

.two-col {
    flex-wrap: wrap;
}

.two-col>* {
    flex: 1;
}

.form__title {
    line-height: 1.6;
    /* margin-block-end: .75em; */
}

/* button */
.button {
    font: inherit;
    padding: 1em .5em;
    width: max(60%, 150px);
    border-radius: .25rem;
}

form .button {

    margin-inline: auto;
}


/* hidden */
.visually-hidden {
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.opened {
    display: block;
    position: fixed;
}

/* experimental input design */

.form-group label {
    opacity: .5;

}

input {
    font-size: inherit;
    padding: .5em;
}